<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:networkSecurityConfig="@xml/debug_network_security_config"
        android:usesCleartextTraffic="true">
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="io.makoion.hub.dev.androidx-startup"
            tools:node="remove" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.debug.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/debug_file_provider_paths" />
        </provider>
        <receiver
            android:name="io.makoion.mobileclaw.debug.DebugTransportReceiver"
            android:exported="true" />
    </application>
</manifest>
